node_modules
# Keep environment variables out of version control
.env

/src/generated/prisma

/uploads

dist

/docs

# macOS resource fork / metadata files
._*
.DS_Store
**/.DS_Store

# Windows thumbnails
Thumbs.db